@{
    ViewBag.Title = "Página de inicio";
}

<div class="jumbotron">
    <h2>Bienvenido al sitio web de Servicio de Cable UABC</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>¿Es cliente nuevo?</h2>
        <p>
            Servicio de Cable UABC ofrece los mejores paquetes de servicio en el estado. ¡Satisfacción garantizada! 
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Register", "Account")">SOLICITAR SERVICIO AHORA &raquo;</a></p>
    </div>
</div>